{
  "parser": "typescript-eslint-parser",
  "plugins": ["typescript"],
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true
    }
  },
  "rules": {
    "quotes": ["warn", "double", {
      "avoidEscape": true,
      "allowTemplateLiterals": true
    }],
    "max-len": 0,
    "global-require": 0,
    "no-nested-ternary": 0,
    "camelcase": 0,
    "no-underscore-dangle": 0,
    "indent": ["error", "tab", { "SwitchCase": 1 }],
    "no-unused-vars": 0,
    "no-console": "off",
    "lines-between-class-members": "warn",
    "object-curly-spacing": ["warn", "always"],
    "no-undef": ["off"]
  },
  "globals": {}
}
